{% extends '_template.html.twig' %}
{% block adminPagePLinkStyle %}
    current_page
{% endblock %}

{% block main %}

    <h1>ADMIN ZONE!</h1>
    <br>
      <h1>Welcome</h1>
        <br>
    <p>
        What do you want to do today
    </p>
    </br>


{% endblock %}

