{% extends '_template.html.twig' %}

{% block devPageLinkStyle %}
    current_page
{% endblock %}

{% block main %}
    <br>
    <img src="../images/ea.png" alt="logo" height="25%" width="100%"  >

    <h3>EA Digital Illusions CE AB (short EA DICE,
        formerly Digital Illusions HB and later Digital Illusions CE AB)
        is a Swedish video game developer based in Stockholm.
        The company was founded in 1992 and has been a subsidiary of Electronic Arts since 2006.
        Its releases include the Battlefield series, Mirror's Edge,
        and Star Wars Battlefront, and it is also the main developer behind EA's Frostbite engine.</h3>
    <br>
    <hr color="black">
    <br>

    <p>DICE was founded as Digital Illusions in May 1992 in Växjö, Sweden by four people, Ulf Mandorff, Olof Gustafsson, Fredrik Liliegren, and Andreas Axelsson, members of the former demogroup The Silents. The Silents' work is visible in some DICE games. For example, The Silents used the acronym TSL; this acronym is visible in Motorhead on banners and signs. According to the Motorhead manual, TSL is said to stand for "Trans-atlantic Speed League", a case of a backronym.
        For an extended period of time, while the employees were also students at Växjö University, the company's office consisted of a small dorm room. During those days the company developed popular pinball games for the Amiga computers, such as Pinball Dreams, Pinball Fantasies and Pinball Illusions. The company moved to Gothenburg in 1994 where it was headquartered until 2005, when that office was merged with the ex-Refraction Games office in Stockholm.
        In 1998, the company was registered on the Swedish stock exchange. Although Codename Eagle received a small cult following, the biggest break for DICE was the release of Battlefield 1942 and its sequels and expansions. The Battlefield series jump-started their popularity. In 2004, the total value of the company was estimated at approximately US$55 million.</p>

    <h2>Expansion</h2>
    <p>In January 2000, the company bought Refraction Games and 90% of Synergenix Interactive. This was followed in March 2001 by the acquisition of Sandbox Studios in London, Ontario, Canada.</p>
    <br>
    <br>
    <h2>Acquisition by Electronic Arts</h2>
    <p>In November 2004, Electronic Arts announced their intent to purchase all outstanding shares in DICE at a price of 61 kr per share. The board of directors of DICE recommended that the company's shareholders accept the offer. Electronic Arts owned 62% of DICE on 31 March 2005.
        On 2 October 2006, EA completed the acquisition for 67.75 kr per share for 2.6 million shares, for a total of 175.5 million kr. DICE was renamed to EA Digital Illusions CE, and CEO Patrick Söderlund became an EA Studio General Manager. DICE Canada, which at the time was being run by DICE co-founder Fredrik Liliegren, was closed down immediately upon acquisition.
        In May 2013, DICE Los Angeles was opened as an additional location to DICE. It was formed some time after the dissolution of EA's former subsidiary Danger Close Games, also known before as EA Los Angeles, as a consequence of the commercial failure of Medal of Honor: Warfighter. Several Danger Close employees were transferred to the new studio, while the leadership team including studio manager Fredrik Loving moved from Stockholm. DICE Los Angeles had co-operated with DICE Stockholm in the development of Battlefield 4. The LA studio is also working on unannounced projects, built on the Frostbite 3 engine. In May 2013, DICE General Manager Karl-Magnus Troedsson said in an interview: "There is an extreme talent pool over that we want a part of."</p>
    <br>
    <br>
    <h2>Games by EADICE</h2>
    <hr color="black">
    <img src="../images/allbf.jpg" alt="logo" height="60%" width="33%"  >
    <img src="../images/bft.jpg" alt="logo" height="60%" width="33%"  >
    <img src="../images/bft1.jpg" alt="logo"  height="60%" width="33.2%" >
    <hr color="black">





{% endblock %}
