{% extends '_template.html.twig' %}

{% block homePageLinkStyle %}
    current_page
{% endblock %}

{% block main %}
    <br>
    <h3>My name is Maciej Uzlis, I'am 19 year's of age. I study computing in Institute Of Technology Blanchardstown, And this is my website on Battlefield 1. Here you can find out what Battlefield 1 is, how it works and you will be able to create your own account and purchase the game and many more enjoyable content. Enjoy! </h3>
    <img src="../images/bfxx.png" alt="logo"  height="230px" width="1385px" >
   <h4> Battlefield 1 is a first-person shooter video game developed by EA DICE and published by Electronic Arts. Despite its name, Battlefield 1 is the fifteenth instalment in the Battlefield series, and the first main entry in the series since Battlefield 4.It was released worldwide for Microsoft Windows, Playstation 4, and Xbox One on October 21, 2016.
       Battlefield 1 received positive reviews by critics and was seen as an improvement over previous instalments, Battlefield 4 and Battlefield Hardline.  Most of the praise was directed towards its World War 1 theme, single player campaign, multiplayer modes, visuals and sound design</h4>
    <hr color="black" height="5%">
    <br>
    <img src="../images/dev.png" alt="logo"  height="8%" width="100%" >
    <br>
    <p>According to game designer Daniel Berlin, the team picked World War I as the game's setting as they believed that the weapons and gadgets featured in that period of time suit players with different playstyles. The game was named Battlefield 1, since the team considered World War I "the dawn of all-out warfare". Melee weapons were reworked so as to introduce more depth to the system. According to creative director Lars Gustavsson, the setting was a concept for a very long time, and it had been the "dream" for the team to create a game based on that period.<br>
        According to Berlin, gameplay was the most important aspect when they were developing the game, and he promised that it would not be slowed down due to the game's historical setting. The story of the game is told through multiple protagonists, and explores the stories of unknown war heroes. Patrick Söderlund, an executive of Electronic Arts, originally rejected the idea of having a World War One shooter as he thought that it would not be fun to play. He later accepted the pitch after being convinced by a demo created by DICE. Aleksander Grøndal, Senior Producer at DICE, prepared his own research into the war by looking at visual references. He favored colored images of the war in an attempt to visualize what the soldiers lived through. “I wanted to see the pictures and I wanted to imagine how they’d look with a mobile lens,” Grøndal expressed when interviewed. “I wanted to start off with all the footage and imagine that footage in our game with a modern take.” He specifically favored Apocalypse: World War I, a 2014 colorized French documentary, and World War I in Colour by Charles Messenger, a 2004 book of colorized war time photographs. Grøndal favored colored material as he felt, "It's quite interesting and it sucks you in because it feels much closer when you see everything in color." Despite his personal penchant for colored visuals, his self ascribed "big inspiration" was Blueprint for Armageddon, a six-part audio documentary by Dan Carlin for the latter's Hardcore History podcast series.
        In June 2015, DICE revealed that they were working on an unannounced game.<br>
        In January 2016, EA announced that Titanfall 2, Mass Effect: Andromeda and an unannounced video game set in the Battlefield universe would be released prior to the end of the company's fiscal year.
        Both the title, the game's release date, and the plot of the game were leaked prior to the official announcement on May 6, 2016. The game was officially unveiled on that day through a livestream on Twitch, showcasing a reveal trailer of the game featuring a remix of The White Stripes' "Seven Nation Army" by The Glitch Mob The game's Collector's Edition includes items such as a statue of a Harlem Hell Fighter, a code for exclusive downloadable content (DLC) of the Doughboy M1911 Pistol, and a Steelbook case. Pre-order bonuses include early access to a DLC map named Giant's Shadow which takes place in the Battle of the Selle, and the Harlem Hellfighter Pack. The Heroes Bundle includes the pre-order bonuses, as well as three days early access to the game, the Red Baron Pack, the Lawrence of Arabia Pack, and five Battlepacks.Battlefield 1 was released worldwide on October 21, 2016 for Microsoft Windows, PlayStation 4 and Xbox One.
    </p>
    <br>

    <img src="../images/botx.png" alt="logo" height="50%" width="50%">

    <hr color="black" height="5%">

    <h3>Pre-release</h3>
    <p>The game received positive response from the community after its official announcement. As of July 2, 2016, the Battlefield 1reveal trailer is the most liked trailer on YouTube, with over 2 million likes. Electronic Arts expected the game to sell at least 14 million units in its first year of release. Writing for Wired, Jake Muncy felt worried that the game may not be able to reflect the complex situations in World War I, and thought that the war may not be an ideal setting for a video game. In contrast, Zam's Robert Rath reflected on the same themes, and noted that World War I was largely forgotten in popular culture due to its inability to inspire passion or interest; Rath suggested Battlefield 1 could rejuvenate popular interest in the war. At The Guardian, Alex Hern criticized what he perceived as the hypocrisy of those objecting to a video game portrayal of WWI, writing: "Asking whether the first world war is an appropriate topic for a first-person shooter may reveal a more pressing question: why do we think any war is?"</p>
    <br>
    <h3>Post-release</h3>
    <p>Battlefield 1 received "generally favorable" reviews, according to review aggregator Metacritic. Reviewers praised the game's unique, refreshing setting, as well as the risk DICE took when developing a WW1-themed game.The multiplayer component was praised for its solid mechanics, the new game mode Operations, the soundtrack, and the maps, amongst many other things. Although praise was given to the single-player campaign for its story and level design, it was nonetheless criticized for being too short. PC World also criticized that all six campaigns take place from the viewpoint of the Allied Powers and the viewpoint from the Central Powers is absent.</p>
    <br>
    <h3>Sales</h3>
    <p>Battlefield 1 was the best-selling retail game in the UK in its week of release. Its launch week sales surpassed the combined sales of both Battlefield 4 and Battlefield Hardline.The PlayStation 4 version topped sales charts in Japan, selling 113,083 copies in its first week. As of January 18, 2017, the PlayStation 4 version has sold 249,053 copies in Japan.
        Battlefield 1 was the top-selling game in the US in the month of its release.
    </p>
    <br>



{% endblock %}
