

{% extends '_template.html.twig' %}

{% block main %}

<h1>Bad login!</h1>
<p class="error">
    There was a problem with your username or password!
    <br>
    please <a href="/index.php?action=login">login</a> again.
</p>


{% endblock %}

